<section class="user-index-container">
  <div class="profile-edit-wrap">
    <div class="edit-box">
      <%= form_for @profile do |f| %>
        <div class="profile-edit-table">
          <%= f.label :avatar, '上傳圖片' %>
          <%= f.file_field :avatar, accept: 'image/jpg, image/jpeg, image/png, image/gif', class: 'avatar-btn' %>
        </div>
        <div class="profile-edit-table">
          <%= f.label :name, '使用者姓名：' %>
          <%= f.text_field :name, class: 'edit-input'  %>
        </div>
        <div class="profile-edit-table">
          <%= f.label :bio, '簡介：'%>
          <%= f.text_area :bio, id: 'avatar-text', class: 'edit-input edit-text-input', cols: 20, rows: 10 %>
        </div>
        <%= link_to '回上一頁', profile_path, class: 'profile-submitbtn profile-back line-button cursor-pointer' %>
        <%= f.submit "編輯送出", class: 'profile-submitbtn solid-button cursor-pointer' %>
      <% end %>
    </div>
  </div>
</section>