<div class="comment">
  <div class="content">
    <h1 class="comment_content"><%= comment.comment%> </h1>
    <p class="comment_auther"><%= comment.user.email %>&ensp;<%= time_ago_in_words(comment.created_at) %></p>
  </div>
  <br/>
  </div class="buttons">
  <br/>
    <%= link_to "編輯", edit_post_comment_path(comment.post, comment)%>  
    <%= link_to "刪除", [comment.post, comment], method: :delete, data:{ confirm: "確定要刪除留言嗎？"}%>
  </div>
</div>