<div class="user-container">
  <section class="user-wrap">
<<<<<<< HEAD
    <%= render "devise/shared/sociallogin" %>
=======
    <div class="user-sociallogin"><i class="user-icon-light fas fa-lightbulb"></i><span>|</span><i class="user-icon-light fas fa-lightbulb"></i><span>|</span><i class="user-icon-light fas fa-lightbulb"></i>
    </div>
>>>>>>> c7bb4be (修改: 會員模組前端畫面class名稱)
    <span class="user-labeltext">or</span>
    <div class="m-1">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <p class="user-inputtext"><%= f.label :email %></p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-input", placeholder: "EMAIL", size: 30 %>
        </div>
  
        <div class="field">
          <p class="user-inputtext"><%= f.label :password %></p>
          <%= f.password_field :password, autocomplete: "current-password", class: "user-input", placeholder: "PASSWORD", size: 30 %>
        </div>
  
        <div class="user-rem">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
  
        <div class="actions">
          <%= f.submit "Log in", class: "user-submitbtn" %>
        </div>
      <% end %>
  
      <div class="user-sharelink"><%= render "devise/shared/links" %></div>
    </div>
  </section>
</div>
