<div id="poxt_content">
  <h1><%=@post.title%></h1>
  <p><%=@post.content%></p>

  <div id="comment">
    <h2><%= @post.comments.count %>個人回應</h2>
    <%= render @post.comments %>

    <h3>回覆主題</h3>
    <%= render "comments/form" %>
  </div>
</div>

<br>
<hr/>
<br>

<%= link_to '編輯', edit_post_path(@post), class: "button" %>
<%= link_to '刪除', post_path(@post), method: :delete , data: { confirm: "確定要刪除嗎?" }, class: "button" %>
<%= link_to "Home", posts_path, class: "button" %>

