<!DOCTYPE html>
<html>
  <head>
    <title>InfinityCode 討論區</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,   200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato&family=Noto+Sans&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <header class="main_header clearfix">
      <div class="wapper">
        <div id="logo" class="post_title">
          <p><%= link_to "InfinityCode 討論區", root_path%></p>
        </div>
        <div id="botom">
        <%if user_signed_in? %>
          <%= link_to "New Post", new_post_path %>
        <% else %>
          <%= link_to "sign_up", new_user_registration_path %>
          <%= link_to "sign_in", new_user_session_path %>
        <% end %>
        </div>

    </header>
      <div class="wrapper">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

    <div class="wrapper">
      <%= yield %>
    </div>
=======
    <nav class="home-nav">
      <div class="home-logo">
        <a href="/"><p class="home-logo-text">InfinityCode <i class="user-icon-light fas fa-lightbulb"></i> fixed待修</p></a>
      </div>
      <div class="home-nav-item">
        <div class="home-nav-item-link">
          <% if current_user %>
            <ul>
              <li>
                <a href="#Practice-path">
                  Practice
                </a>
              </li>
              <li>
                <a href="#Disscuss-path">
                  Discuss
                </a>
              </li>
              <li>
                <a href="#Rank-path">
                  Rank
                </a>
              </li>
              <li class="user-account">
                <a href="#"><%= current_user.email %> <i class="fas fa-chevron-down"></i></a>
                  <ul class="sub1">
                      <li><a href="/users/edit">Profile</a></li>
                      <li><a href="#Bookmarks-path">Bookmarks</a></li>
                      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
                  </ul>
              </li>
            </ul>
          <% else %>
            <div class="user-btn">
              <button class="user-btn-login"><%= link_to('LOG IN', new_session_path(:user)) %></button>
              <button class="user-btn-signup"><%= link_to('SIGN UP', new_registration_path(:user)) %></button>
            </div>
          <% end %>
        </div>
      </div>
    </nav>      
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
    <%= yield %>
    <%= render "devise/shared/footer" %>
>>>>>>> 43855276bcd8c95b08044e946535f5bcc8de650e

  </body>
</html>
