<!DOCTYPE html>
<html>
  <head>
    <title>InfinityCode</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
=======
    <nav class="home-nav">
      <div class="home-logo">
        <a href="/"><p class="home-logo-text">InfinityCode <i class="user-icon-light fas fa-lightbulb"></i> fixed待修</p></a>
      </div>
      <div class="home-nav-item">
        <div class="home-nav-item-link">
          <% if current_user %>
            <ul>
              <li>
                <a href="#Practice-path">
                  Practice
                </a>
              </li>
              <li>
                <a href="#Disscuss-path">
                  Discuss
                </a>
              </li>
              <li>
                <a href="#Rank-path">
                  Rank
                </a>
              </li>
              <li class="user-account">
                <a href="#"><%= current_user.email %> <i class="fas fa-chevron-down"></i></a>
                  <ul class="sub1">
                      <li><a href="/users/edit">Profile</a></li>
                      <li><a href="#Bookmarks-path">Bookmarks</a></li>
                      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
                  </ul>
              </li>
            </ul>
          <% else %>
            <div class="user-btn">
              <button class="user-btn-login"><%= link_to('LOG IN', new_session_path(:user)) %></button>
              <button class="user-btn-signup"><%= link_to('SIGN UP', new_registration_path(:user)) %></button>
            </div>
          <% end %>
        </div>
      </div>
    </nav>      
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
    <%= yield %>
    <%= render "devise/shared/footer" %>

>>>>>>> 8e7f5b5af476415f8c4d60d9c2b7485c9c8ece03
  </body>
</html>
